html {background-color: black}

#pooh {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
   
}

.rainyday {
    color: burlywood;
}
#bordered {
    position:absolute;
    border-top: solid rgb(192, 255, 236) 3px;
    border-right: solid rgb(192, 255, 236) 3px;
    border-bottom: solid rgb(192, 255, 236) 3px;
    border-left: solid rgb(192, 255, 236) 3px;
    margin: auto;
  }

  .img-hover-zoom:hover img{
    height: 300px; 
    overflow: hidden;
    transition: transform .5s ease;
    transform: scale(1.5);
    
  }

  ul {
    position: absolute;
    color: black;
    font-weight: bold;
    left: 0px;
    top: 150px;
    
  }

.rainyday--CouchPotato {
      background-color: rgb(58, 58, 80);
      outline: 4px solid;
      outline-offset: 12px;
  }

  img {
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: -1;
  }
   
  

  .box {
    margin-top:400px;
    float: left;
  }
  
  .left {
    width: 48%;
  }
  
  .right {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    .box {
      width: 100%;
    }
